@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
p {
	line-height: 1.4em;
}
p.review {
	line-height: 1.8em;
}
button {
	padding: 0 !important;
}
button, a {
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
button > a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 11px 0;
}
#ichead {
	background-color: #444;
	background-repeat: no-repeat;
	background-image: url(../images/ic_logo.png);
	background-size: 100%;
	height: 25vw;
}
#notify_email {
	display: none;
}
.ui-slider-input {
	visibility: hidden !important;
	display: none !important;
}
.ui-slider-track {
	margin: 0 !important;
}
p.topHead {
	margin: 0.25em 0 0 0;
	font-size: 2em;
	text-align: center;
}
p.subHead {
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	text-align: center;
}
.icmlm_popup {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}
.ui-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
legend {
	width: 6em;
	display: inline-block;
	float: left;
	vertical-align: baseline;
	padding-top: 0.75em;
}
.ui-panel, #panel {
	/*width: 20em;*/
}
.form_head {
	font-weight: 700;
	text-align: justify;
	margin-top: 0 !important;
	margin-bottom: -1em !important;
	padding-bottom: -1em !important;
}
.form_head:after {
	content: "";
	display: inline-block;
	width: 100%;
}
.ui-controlgroup, fieldset.ui-controlgroup {
	margin: 0 0;
}
.review-heading,
.review-items {
	color: #d31217;
	font-weight: bold;
	text-decoration: underline;
}
.review-items {
	font-size: 1.3em;
}
/*---------- In Page Navigation ----------*/
button.navPrev,
button.navNext {
	width: 49% !important;
	display: inline-block !important;
	padding: 0;
}

button.nav-btn > a,
button.nav-btn.navSubmit {
	font-weight: 100;
	text-decoration: none;
}
button.nav-btn.navStart,
button.nav-btn.navPrev,
button.nav-btn.navNext,
button.nav-btn.navReview,
button.nav-btn.navSubmit {
	background-color: #bc2024;
}
button.nav-btn.navStart > a.ui-link,
button.navPrev > a.ui-link,
button.navNext > a.ui-link,
button.nav-btn.navReview > a.ui-link,
button.nav-btn.navSubmit {
	color: #fff;
	text-shadow: none;
}
button.nav-btn.navStart:active > a.ui-link,
button.nav-btn.navStart:hover > a.ui-link,
button.navNext:active > a.ui-link,
button.navNext:hover > a.ui-link,
button.navPrev:active > a.ui-link,
button.navPrev:hover > a.ui-link, {
	color: #fff;
}

button.nav-btn.navReview {
    /*margin-left: 13px;*/
    width: 100%;
 }

button.nav-btn.navSubmit {
	padding: 11px 0 !important;
}
